// color

$color_lightGrey        : #F4F4F5;
$color_green            : #819691;
$color_darkGrey         : #808080;
$color_mediumGrey       : #C3C3C3;

.text-green{
    color:#819691;
}

.bg-color_lightGrey{
    background-color: #F4F4F5;
}
