// color

$color_lightGrey        : #E8EAEA;
$color_semiLightGrey    : #808080;
$color_green            : #00A2E3;
$color_black            : #1A1A1A;
$color_blue             : #00A2E3;

.text-green{
    color:#32A48E;
}

.bg-color_lightGrey{
    background-color: #E8EAEA;
}
